.card-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px
}

.card-container{
    height: 220px;
    width: 250px;
    background-color: gray;
    margin: 60px 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .3s
}
.card-container:hover{
    box-shadow: 5px 5px 10px 2px rgb(176, 176, 176);
    cursor: pointer;
    z-index: 2
}
.card-contents{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.card-contents img{
    height: 160px;
    margin-bottom: 5px;
    border: solid white 1px;
    border-radius: 5px;
}
.card-description{
    height: 50px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.card-description h3, .card-description h4{
    margin: 10px 0px;
    font-weight: lighter;
}
